body{
    text-align: center;
<<<<<<< HEAD
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
=======
    color: rgb(29, 156, 95);
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    border:1px solid rgb(18, 24, 22);
    border-radius: 3;
    box-sizing: 23;
    width: 70%;

}
#head{
    background-color: blueviolet;
    text-decoration-color: black;
    color: rgb(88, 152, 207);
}
>>>>>>> cabecera
